.app-status-box {
  display: flex;
  background-color: $secondary;
  padding: 3px;
  border-radius: 3px;
  margin-left: 20px;

  .status {
    padding: 11px 15px;
    font-size: 15px;
    color: #94adbf;
    border-radius: 3px;
    cursor: pointer;
    
    &.active {
      background-color: white;

      &.off {
        color: $red;
      }
  
      &.sandbox {
        color: #f2b125;
      }
  
      &.live {
        color: $green;
      }
    }
  }
}