a {
  text-decoration: none;
}

input {
  border: none;
  height: 22px;
  padding: 1px 5px;
  &:focus {
    outline: none;
  }

  &.custom {
    color: #999;
    background-color: #E3EBEE;
    border-radius: 5px;
    padding: 1px 5px;
    box-shadow: inset 1px 1px 2px 0px rgba(145,145,145,1);
  }

  &.right {
    text-align: right;
  }
}

.boldTypo {
  font-family: 'gadugi-bold' !important;
}

.page-content {
  width: 65%;
  height: 640px;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  
  @media screen and (max-width: 1024px) {
    width: 70%;
  }

  @media screen and (max-width: 760px) {
    width: 80%;
  }
}

.page-title {
  text-align: center;
  font-family: 'gadugi-bold' !important;
}
