a {
  text-decoration: none;
}

input {
  border: none;
  height: 22px;
  padding: 1px 5px;
  &:focus {
    outline: none;
  }

  &.custom {
    color: #999;
    background-color: #E3EBEE;
    border-radius: 5px;
    padding: 1px 5px;
    box-shadow: inset 1px 1px 2px 0px rgba(145,145,145,1);
  }

  &.right {
    text-align: right;
  }
}

.boldTypo {
  font-family: 'gadugi-bold' !important;
}

.page-content {
  width: 65%;
  height: 640px;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  
  @media screen and (max-width: 1024px) {
    width: 70%;
  }

  @media screen and (max-width: 760px) {
    width: 80%;
  }
}

.page-title {
  text-align: center;
  font-family: 'gadugi-bold' !important;
}


.StripeElement {
  max-width: 500px;
  padding: 5px;
  font-size: 1em;
  background-color: #E3EBEE;
  box-shadow: inset 1px 1px 2px 0px rgba(145,145,145,1);
  border: 0;
  outline: 0;
  border-radius: 0;
}

.rangeslider {
  width: 100%;
}

.rangeslider-horizontal {
  height: 1px;
  margin: 0;
  position: relative;

  &:before {
    content: "";
    width: 5px;
    height: 5px;
    background-color: #259fc4;
    position: absolute;
    left: 0;
    bottom: -2px;
  }

  &:after {
    content: "";
    width: 5px;
    height: 5px;
    background-color: #aaa;
    position: absolute;
    right: 0;
    bottom: -2px;
  };

  .rangeslider__fill {
    background-color: #259fc4;
    box-shadow: unset;
  }

  .rangeslider__handle {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E0E0E0;
    border: unset;
    box-shadow: unset;
    color: #259fc4 !important;
    font-weight: bold;
    background-color: #E0E0E0;
    font-family: sans-serif;
    z-index: 99;

    &:after {
      content: unset;
    }

    &:focus {
      outline: unset;
    }
  }
}
